@{
    ViewBag.Title = "About";
}
<h2 class="about">@ViewBag.Title</h2>
<h3 class="description">Description for "Pick 'Em"</h3>
<style>
    body {
        background-color: #808080;
    }
</style>


<p class="actualscript">This is the official about page for the world renowned Pick 'Em application. Here at Pick 'Em we provide an undeniable user experience with an interface 
    that is unmatched to those competitor picking sites.
    </p>
