@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: #05045e">
    <h1 class="display-1">Pick 'Em</h1>
    <p class="lead">Pick your favorite team to win each game.</p>
    <p><a href="https://www.espn.com/nfl/" class="btn btn-block btn-sm">ESPN NFL &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4 homepage">
        <h2>Purpose</h2>
        <p>
            Pick 'Em is an ASP.NET Application and its sole purpose to be able to create a player, create a game from a pre-seeded list of teams,
            in this case the NFL, and then pick the winner.
        </p>
        <p><a class="btn btn-dark" href="https://www.espn.com/nfl/">ESPN NFL &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Future</h2>
        <p>This is V1.0 and is very basic, but the goal is there and gives a stepping stone to build off of for future development. Eventually, the need to add
        pre-determined schedules along with records for both each team and each player. Also, being able to predict the score for each game incase of tie breakers and adding
        the ability for the winner for each week to win money. So adding Venmo or PayPal would be a nice addition to the entire application. </p>
        <p><a class="btn btn-dark" href="https://www.espn.com/nfl/">ESPN NFL &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Direction</h2>
        <p>Eventually the goal will to have a mass amount of sport entusiasts to compete with their friends in a friendly manner with sports that they love and potentially win money in the process.
        I've mentioned money a couple times and the money comes from the group of friends as a whole, so like a bank account on the application and the winner each week will receive a certain
        amount of money depending on the group's decision. Also, agreements from the NFL and each team will be necessary and if any sports are added will also be necessary as well.
        Or, the application could have complete fucntionality except for the money because for the moment gambling on sports is illegal. Thats the direction the application is heading. </p>
        <p><a class="btn btn-dark" href="https://www.espn.com/nfl/">ESPN NFL &raquo;</a></p>
    </div>
</div>

<style>
    body{
        background-color: #808080
    }
</style>